<h1 mat-dialog-title>Novo carro</h1>
<form>
    <mat-form-field class="input">
        <input matInput placeholder="Descrição*" [(ngModel)]="data.NomeCarro" [ngModelOptions]="{standalone: true}"
            name="Descrição">
    </mat-form-field>
    <mat-form-field appearance="fill" class="input">
        <mat-label class="control-label">Categoria*</mat-label>
        <mat-select [(ngModel)]="data.TiposCarroId" [ngModelOptions]="{standalone: true}" name="Caregoria">
            <mat-option *ngFor="let tipoCarro of TiposCarro" [value]="tipoCarro">
                {{tipoCarro.Descricao}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="input">
        <mat-label class="control-label">Cor*</mat-label>
        <mat-select [(ngModel)]="data.CoresCarroId" [ngModelOptions]="{standalone: true}" name="Cor">
            <mat-option *ngFor="let cor of cores" [value]="cor">
                {{cor.Descricao}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
<div mat-dialog-actions class="button">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button (click)="createCarro()" mat-button [mat-dialog-close]="data.NomeCarro" color="primary"
        cdkFocusInitial>Salvar</button>
</div>
